.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(134,123,205),rgb(106,90,171));
  min-height: 100vh;
  min-width: 100vw;
  color: white;
  font-weight: 400 bold;
  font-family: sans-serif;
}

.input{
  box-sizing: border-box;
  width: 90%;
  max-height: 3rem ;
  border-radius: 5px;
  background-color: #e1ebfd;
  border: none ;
  font-size: 14px;
  overflow: hidden;
  padding: 0.5rem 1rem;
}

.input:focus {
  outline: none !important;
  border:2px solid rgb(67, 58, 168);
}

.textarea{
  border: none;
  outline: none !important;
  border-radius: 10px;
  box-shadow: none;
  width: 90%;
  height: 70%;
  background-color: inherit;
  color: #271c6c;
  font-size: 16px;
  font-weight: 400 bold;
}
.textarea:focus{
  outline: none !important;
  background-color: #e1ebfd;
  border: 2px solid yellow;
}
.plus-icon{
  width: 15%;
  height: 10%;
  margin-left:  8px;
  color: #271c6c;
  background-color: white;
  border-radius: 50px;
}

.button-container{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.button{
  box-sizing: border-box;
  text-align: center;
  height: 30px;
  border-radius: 15px;
  padding: 8px 18px 8px 18px;
  border-style: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.todo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.todo-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.todo-item{
  box-sizing: border-box;
  background: radial-gradient( circle, hsla(237, 34%, 78%, 0.9) 0%, hsla(219, 88%, 94%, 0.9) 100% );
  color: #271c6c;
  border-radius: 10px;
  padding: 15px 10px 10px 15px;
  width: 70vw;
  min-height: 11vh;
  margin: 10px;
}
.crud-btn-container{
  float: right;
  bottom: 10px;
}
.crud-btn-done{
  color: green;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 23px;
}
.crud-btn-del{
  color: red;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 23px;
}
.crud-btn-edit{
  border: none;
  cursor: pointer;
  background: none;
  font-size: 23px;
}
.cmpltd-state{
  border-radius: 15px;
  background-color: #867bcd;
  border: 2px solid #272727;
  color: #e1ebfd;
  float: right;
  height: 20px;
}
.cmplt-tag{
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px){
  .plus-icon{
    width: 4%;
    height: 4%;
  }
  .button-container{
    width: 35%;
  }
  .input{
    width:38vw;
  }
  .todo-item{
    width: 20vw;
    min-height: 7.5vh;
  }
}